<h1>Doses#new</h1>


<p>Select quantity:</p>
<p><%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "add dose", class: "btn btn-primary" %>
<% end %></p>
